
.titulo h1 {
    color: white;
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
  }
  .formulario__caja{
    width: 30%;
    padding: 1rem 0 4rem 1rem;
  }
  .formulario__texto{
    color: white;
    font-size: 3rem;
  }
  
  .contactenos {
    color: white;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
    padding: 2rem;
  }
  .contacto div{
    padding: 1rem;
  }

  .contacto__uno{
display: flex;
justify-content:start;

  }
  form {
    color: white;
    font-size: 2rem;
  }
  .boton button{
    font-size: 2rem;
  }
  
