/**inicio**/

#collapsibleNavbar{
  justify-content: end;
  font-size: 2rem;
  li{
    margin: 0.3rem;
  }
  li{
    transition-duration: 0.4s;
  }
  li:hover{
background-color: red;
  }
}
  .encabezado__titulo {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
  }
  
  .encabezado__subtitulo {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
  }
  .carousel{
    width: 80%;
    height: 40%;
    margin: 3rem auto 3rem auto;
  }
  